{%extends 'base.html'%}
  {%block styles%}
    <style>
      html, body{
        height: 100%
      }

      body{
        display: flex;
        flex-direction: column;
        background-color: #e9e8e8;
      }

      #main-container{
        flex: 1;
        border-style: none none solid none;
        border-width: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .main-content a{
        text-decoration: none;
        color:black;
        font-size: 120px;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        margin-left: 200px;
        margin-right: 200px;
      }

      .main-content a:hover{
        color: white;
        background-color: #302f2f;
      }

      header{
        text-align: center;
      }

      header a{
        text-decoration: none;
        color:black;
        font-size: 56px;
        font-family: 'Noto Serif', serif;
        font-weight: bold;
        font-style: italic;
      }

      nav{
        display: flex;
        border-style: none none solid none;
        border-width: 1px;
        padding: 6px;
      }
      .nav-helper-left{
        width: 33.3%;
      }
      .nav-menus{
        text-align: center;
        width: 33.3%;
      }
      .nav-helper-right{
        width: 33.3%;
        text-align: end;
      }

      .login-logput{
        font-family: 'Noto Serif', sans-serif;
      }

      nav a{
        text-decoration: none;
        color: gray;
        font-family: 'Noto Serif', serif;
        font-size: 32px;
        margin-left: 80px;
        margin-right: 80px;
      }

      footer{
        text-align: center;
      }
    </style>
  {%endblock%}

  {%block nav-bar%}
    <nav>
      <div class="nav-helper-left">
        {%if user.is_authenticated%}
        <a href="{%url 'logout'%}" class="login-logout">Logout</a>
        {%else%}
          <a href="{%url 'login'%}" class="login-logout">Login</a>
        {%endif%}
      </div>
      <div class="nav-menus">
        <a href="{%url 'intro'%}">
          intro
        </a>
        <a href="{%url 'blog'%}">
          blog
        </a>
      </div>
      <div class="nav-helper-right"></div>
    </nav>
  {%endblock%}

  {%block contents%}
    <div id="main-container">
      <div class="main-content">
        <a href="{%url 'intro'%}">
          intro
        </a>
        <a href="{%url 'blog'%}">
          blog
        </a>
      </div>
    </div>
  {%endblock%}
