{%extends 'base.html'%}
{% load static %}
  {%block styles%}
  <style>
    html, body{
      height: 100%
    }

    body{
      display: flex;
      flex-direction: column;
      background-color: #e9e8e8;
    }

    #main-container{
      flex: 1;
      border-style: none none solid none;
      border-width: 1px;
      display: flex;
      max-height: 84%;
    }

    .left{
        flex: 20%;
        margin : 5px;
        border-style: none solid none none;
        border-width: 1px;
        border-color: #a5a2a2;
        overflow: auto;
    }

    .left a{
      text-decoration: none;
      color: black;
    }
    

    .summary-blog{
      padding: 5px;
      font-family: 'Noto Sans KR', sans-serif;
      width: 95%
    }

    .summary-blog:hover{
      background-color: #302f2f;
      color: white;
    }

    .summary-blog .date{
      font-size: 12px;
    }
    .right{
        flex: 80%;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    header{
      text-align: center;
    }

    header a{
      text-decoration: none;
      color:black;
      font-size: 56px;
      font-family: 'Noto Serif', serif;
      font-weight: bold;
      font-style: italic;
    }

    nav{
      display: flex;
      border-style: none none solid none;
      border-width: 1px;
      padding: 6px;
    }
    .nav-helper-left{
      width: 33.3%;
    }
    .nav-menus{
      text-align: center;
      width: 33.3%;
    }
    .nav-helper-right{
      width: 33.3%;
      text-align: end;
    }

    .to-new{
      font-family: 'Noto Sans KR', sans-serif;
    }
    
    nav a{
      text-decoration: none;
      color: gray;
      font-family: 'Noto Serif', serif;
      font-size: 32px;
      margin-left: 80px;
      margin-right: 80px;
    }
    .input-content{
      background-color: white;
      width: 90%;
      height: 90%;
      text-align: center;
      border-style: solid;
      border-width: 1px;
      border-radius: 10px;
      border-color: #a5a2a2;
    }

    form{
      width: 100%;
      height: 100%;
    }

    .submit-btn{
      font-family: 'Noto Sans KR', sans-serif;
      background-color:#FF5A5F;
      color:white;
      width: 70px;
      height: 45px;
      border-radius: 6px;
      border: 0;
      outline: 0;
    }
    #title{
      width: 80%;
      height: 15%;
      font-size: 2.5rem;
      font-family: 'Noto Sans KR', sans-serif;
      background-color: inherit;
      border-style: none none solid none;
      border-width: 1px;
      border-color: #a5a2a2;
      outline-style: none;
    }

    #title::placeholder{
      color: #bebdbd;
    }

    #writer{
      width: 80%;
      height: 5%;
      font-size: 1.5rem;
      font-family: 'Noto Sans KR', sans-serif;
      background-color: inherit;
      border-style: none none solid none;
      border-width: 1px;
      border-color: #a5a2a2;
      outline-style: none;
    }

    #writer::placeholder{
      color: #bebdbd;
    }

    #body{
      width: 80%;
      height: 70%;
      border-style: none none solid none;
      border-width: 1px;
      border-color: #a5a2a2;
      font-size: 1rem;
      font-family: 'Noto Sans KR', sans-serif;
      outline-style: none;
    }

    #body::placeholder{
      color: #bebdbd;
    }

    .submit-btn:hover{
      box-shadow: 3px 3px 0px 0px rgb(85, 30, 32);
      cursor: pointer;
    }

    footer{
      text-align: center;
    }
  </style>
  {%endblock%}

  {%block nav-bar%}
  <nav>
    <div class="nav-helper-left">
      {%if user.is_authenticated%}
        <a href="{%url 'logout'%}" class="login-logout">Logout</a>
      {%else%}
        <a href="{%url 'login'%}" class="login-logout">Login</a>
      {%endif%}
    </div>
    <div class="nav-menus">
      <a href="{%url 'intro'%}">
        intro
      </a>
      <a href="{%url 'blog'%}">
        blog
      </a>
    </div>
    <div class="nav-helper-right">
      <a href="{%url 'new'%}" class="to-new">
        <img src="{%static 'images/write.png'%}" width="32px">
        <span style="color: black; font-weight: bold;">새 일기 작성</span>
      </a>
    </div>
  </nav>
  {%endblock%}

  {%block contents%}
  <div id="main-container">
    <div class="left">
      {%for blog in blogs%}
        <a href="{%url 'detail' blog.id %}">
          <div class="summary-blog">
            <h1>{{blog.title}}</h1>
            <p>{{blog.summary}}</p>
            <p class="date">{{blog.pub_date}}</p>
          </div>
        </a>
      {%endfor%}
    </div>
    <div class="right">
      <div class="input-content">
        <form action="{%url 'create'%}">
          <input type="text" id="title" name="title" placeholder="제목"><br>
          <input type="text" id="writer" name="writer" placeholder="작성자"><br>
          <textarea name="body" id="body" placeholder="본문을 입력해 주세요"></textarea><br>
          <button type="submit" class="submit-btn">작성</button>
      </form>
      </div>
    </div>
  </div>

  <footer>
    footer
  </footer>
  {%endblock%}
